/* You can add global styles to this file, and also import other style files */

/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login start here--*/

body {
    font-family: 'Montserrat', sans-serif;
    background: #F7D9A3;
    font-size: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--header start here--*/
h1 {
    text-align: center;
    font-size: 3em;
    color: #3C2F24;
    margin: 2em 0em 1em 0em;
  
}
h2.subtitle {
    text-align: center;
    padding: 1em 0;
    font-size: 1.5em;
}
h2.subtitle strong {
    font-weight: bold;
}
/*-----*/
.header{
    background: #fff;
    width:80%;
    margin: 0 auto;

}
.header-top{
     border-bottom: 3px solid #D4D4D4;
    padding: 1.5em;
}
.header-top h2{
    font-size: 1.2em;
    float: left;
}
.header-top ul{
    float: right;
        border: 1px solid #C1C1C1;
    border-radius: 5px;
}
.header-top li{
    display: inline-block;
}
.header-top li p{
    color:#8C8B8B;
    font-size: 1em;
    padding: 4px 6px;
}
.header-top li p.cen{
        background: #E4E4E4;
}
.whe {
    vertical-align: bottom;
    margin-right: 0.5em;
}
/*----*/
.header-bottom{
}
.header-bottom1 {
    float: left;
    width: 12.5%;
   
}
.header-head{
    padding: 2em;
}
.header-bottom2 {
  background: #f1f1f1;  
}
.header-bottom1:nth-child(3) {
    border-right: none;
}
.header-head h4{
    color:#8C8B8B;
    font-size: 1em;
}
.header-head h6{
    color:#000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.header-head img{
    display: block;
    margin: 1em auto;
}
.bottom-head p{
    color:#8C8B8B;
    font-size: 1em;
    line-height: 1.4em;
}
/*----*/
.copy-right{
    text-align: center;
        padding: 5em 0;
}
.copy-right p{
    color:#000;
    font-size: 1em;
}
.copy-right p a{
    color: #fff;    
}
.copy-right p a:hover{
    color: #000;    
}
/*----*/
@media(max-width:1366px){
.header {
    width: 42%; 
}
}
@media(max-width:1280px){
.header {
    width: 45%;
}   
}
@media(max-width:1024px){
.header {
    width: 56%;
}   
}
@media(max-width:768px){
.header {
    width: 75%;
}
h1 {
    font-size: 2.5em;   
}
}
@media(max-width:736px){
.header {
    width: 82%;
}
.header-head {
    padding: 2em 1em;
}
}
@media(max-width:600px){

.copy-right p {
    font-size: 0.9em;
    line-height: 1.5em;
}
h1 {
    font-size: 2.3em;
}
}
@media(max-width:480px){
h1 {
    font-size: 1.6em;
}
.header {
    width: 97%;
}
.bottom-head p {
    font-size: 0.9em;
}
}
@media(max-width:320px){
h1 {
    font-size: 1.4em;
}
.header-head h4 {
    font-size: 0.9em;
}
.header-head {
    padding: 1em 0.3em;
}
.bottom-head p {
    font-size: 0.7em;
}
.copy-right {
    padding: 3em 0;
}
}


/**
 The MIT License (MIT)

 Copyright (c) 2017 Ivan Vilanculo

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
 **/

@font-face {
    font-family: OpenWeatherIcons;
    src: url("./assets/fonts/OpenWeatherIcons.eot");
    src: url("./assets/fonts/OpenWeatherIcons.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/OpenWeatherIcons.woff2") format("woff2"), url("./assets/fonts/OpenWeatherIcons.woff") format("woff"), url("./assets/fonts/OpenWeatherIcons.ttf") format("truetype"), url("./assets/fonts/OpenWeatherIcons.svg#OpenWeatherIcons") format("svg");
    font-style: normal;
    font-weight: 400;
}

.owi {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 OpenWeatherIcons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.owi-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.owi-2x {
    font-size: 2em;
}

.owi-3x {
    font-size: 3em;
}

.owi-4x {
    font-size: 4em;
}

.owi-5x {
    font-size: 5em;
}

.owi-fw {
    width: 1.28571429em;
    text-align: center;
}

.owi-01d::before {
    content: "\ea01";
}

.owi-01n::before {
    content: "\ea02";
}

.owi-02d::before {
    content: "\ea03";
}

.owi-02n::before {
    content: "\ea04";
}

.owi-03d::before {
    content: "\ea05";
}

.owi-03n::before {
    content: "\ea06";
}

.owi-04d::before {
    content: "\ea07";
}

.owi-04n::before {
    content: "\ea08";
}

.owi-09d::before {
    content: "\ea09";
}

.owi-09n::before {
    content: "\ea0a";
}

.owi-10d::before {
    content: "\ea0b";
}

.owi-10n::before {
    content: "\ea0c";
}

.owi-11d::before {
    content: "\ea0d";
}

.owi-11n::before {
    content: "\ea0e";
}

.owi-1232n::before {
    content: "\ea0f";
}

.owi-13d::before {
    content: "\ea10";
}

.owi-13n::before {
    content: "\ea11";
}

.owi-20d::before {
    content: "\ea12";
}

.owi-50d::before {
    content: "\ea13";
}


/* custom styles */
.owi {
    font-size: 48px;
    padding: 20px;
    color: #DBA930;
}