  <h1>Simple Weather Widget</h1>
  <h2 *ngIf="!data" class="subtitle">Loading...</h2>
  <h2 *ngIf="data" class="subtitle"><strong>Current Location: </strong>{{data.latitude}}, {{data.longitude}}</h2>
  <h2 *ngIf="data" class="subtitle"><strong>Current Timezone: </strong>{{data.timezone}}</h2>
  <h2 *ngIf="data" class="subtitle">{{data?.daily?.summary}}</h2>

  <div class="header">
    <div class="header-top">

      <h2><img class="whe" src="assets/images/sun.png" alt="" />Weather</h2>
      <ul>
        <li><p>°F</p></li>
        <li><p class="cen">°C</p></li>
      </ul>
      <div class="clear"> </div>
    </div>
    <div class="header-bottom">

      <div *ngFor="let dw of data?.daily?.data" class="header-bottom1">
        <div class="header-head">
          <h4>{{dw.summary}}</h4>
          <i class="owi {{iconmap[dw.icon]}}"></i>
          <h6>{{dw.temperatureHigh}}</h6>
          <div class="bottom-head">
            <p>{{dw.time * 1000 | date: 'mediumDate'}}</p>
            <p>{{dw.time * 1000 | date: 'EEEE'}}</p>
          </div>
        </div>
      </div>

      <div class="clear"> </div>
    </div>
  </div>
<div class="copy-right">
      <p>&copy; 2015 Simple Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
